
@media screen and (-ms-high-contrast: active)  
{
.nexacontentsbox {-ms-high-contrast-adjust:none; } 
}

html, body
{
  position:absolute;
  width:100%;
  height:100%;
  font:12pt Verdana;
  -moz-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
}

div, header, nav, section, article, aside, footer
{
  position:absolute;
  box-sizing:border-box;
  overflow:hidden;
  background-origin:padding-box;
  background-repeat:no-repeat;
  white-space : pre;
  -moz-user-select:-moz-none;
  -webkit-user-select:none;
  -webkit-touch-callout:none;
  -webkit-appearance:none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  outline:none;
}

table
{
  position:absolute;
  box-sizing:border-box;
  overflow:hidden;
}

input
{
  position:absolute;
  box-sizing:border-box;
  overflow:hidden;
}

img
{
  position:absolute;
  box-sizing:border-box;
}

input::-ms-clear,input::-ms-reveal
{
  display: none;
}



.nexacontainer
{
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
}
.nexacontainer.withvscroll
{
  right:14px;
}
.nexacontainer.withhscroll
{
  bottom:14px;
}
.nexacontainer.withbothscroll
{
  right:14px;
  bottom:14px;
}

.nexalefttop
{
  left:0px;
  top:0px;
  background-repeat:no-repeat;
  background-position:left top;
  font-size:1px;
}
.nexaleftbottom
{
  left:0px;
  bottom:0px;
  background-repeat:no-repeat;
  background-position:left bottom;
  font-size:1px;
}
.nexarightbottom
{
  right:0px;
  bottom:0px;
  background-repeat:no-repeat;
  background-position:right bottom;
  font-size:1px;
}
.nexarighttop
{
  right:0px;
  top:0px;
  background-repeat:no-repeat;
  background-position:right top;
}
.nexaedge
{
  width:100%;
  height:100%;
}
.nexamodaloverlay
{
  width:100%;
  height:100%;
}
.nexainnercontainer
{
  transform : translate3d(0px, 0px, 0);
}

.nexatransform
{
  transform : translate3d(0px, 0px, 0);
}

.nexacontentsbox
{
  position:relative;
  display:table-cell;
  background-position:left center;
  background-repeat:no-repeat;
  vertical-align:middle;
}
.nexatextitem
{
  position:relative;
  vertical-align:middle;
  white-space:inherit;
  word-wrap:inherit;
  word-break:inherit;
  text-decoration:inherit;
}
.nexaiconitem
{
  position:relative;
  vertical-align:middle;
  background-position:center center;
  background-repeat:no-repeat;
}

.nexainput
{
  font:inherit;
  color:inherit;
  cursor:inherit;
  letter-spacing:inherit;
  word-spacing:inherit;
  border:none;
  outline:none;
  background:transparent;
  padding : 0px;
}

.nexatextarea
{
  font:inherit;
  color:inherit;
  cursor:inherit;
  line-height : inherit;
  letter-spacing:inherit;
  word-spacing:inherit;
  white-space:pre;
  word-wrap:normal;
  border:none;
  outline:none;
  resize:none;
  background:transparent;
  padding : 0px;
}

.nexaleftalign
{
  text-align:left;
}

.nexarightalign
{
  text-align:right;
}

.nexacenteralign
{
  text-align:center;
}

.nexamap div *
{
  overflow:visible;
}

.nexanativescroll
{
  overflow:scroll;
  -ms-overflow-style:none;
}

.celltreeline
{
  border : 1px dotted #999999;
}

.Edit, .MaskEdit, .TextArea, .EditControl, .MaskEditControl, .TextAreaControl
{
  cursor:text;
}
.Button .nexacontentsbox, .ButtonControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}

.FileDownload  .nexacontentsbox, .FileDownloadControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}

.IconTextControl .nexacontentsbox, .IconControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}

.DatePickerDayItemControl .nexacontentsbox, .DatePickerWeekItemControl .nexacontentsbox, .TitleBarButtonControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}

.Sketch .nexacontentsbox
{
   text-align:center;
}

.MainFrame, .VScrollBarControl, .HScrollBarControl
{
  cursor:default;
}

.Static.sta_mian_smIocn01
{
	background : url("./../../../_resource_/_images_/img_main_smIcon01.png") no-repeat left center;
	color : #222222;
	font : 14px "Arial","Malgun Gothic";
}
.Static.sta_mian_smIocn01 .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
}
.Static.sta_mian_smIocn02
{
	background : url("./../../../_resource_/_images_/img_main_smIcon02.png") no-repeat left center;
	color : #222222;
	font : 14px "Arial","Malgun Gothic";
}
.Static.sta_mian_smIocn02 .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
}
.Static.sta_mian_smIocn03
{
	background : url("./../../../_resource_/_images_/img_main_smIcon03.png") no-repeat left center;
	color : #222222;
	font : 14px "Arial","Malgun Gothic";
}
.Static.sta_mian_smIocn03 .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
}
.Static.sta_main_iconText
{
	font : bold 24px "Arial","Malgun Gothic";
}
.Static.sta_main_iconText .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
}
.Static.sta_main_box01
{
	background : #f7f7f7;
	border : 1px solid #c7c7c7;
}
.Static.sta_main_box02
{
	background : #eeeeee;
	border : 1px solid #c7c7c7;
}
.Static.sta_main_chartx01
{
	background : url("./../../../_resource_/_images_/img_main_chart01.png") no-repeat center center;
}
.Static.sta_main_boxTle01
{
	background : #f7f7f7;
	color : #666666;
	font : 20px "Arial";
	border : 1px solid #c7c7c7;
}
.Static.sta_main_more
{
	background : url("./../../../_resource_/_images_/img_main_more.png") no-repeat center center;
	cursor : pointer;
}
.Static.sta_main_numbering
{
	background : #f7f7f7;
	border-radius : 10px;
	color : #666666;
	font : 100px "Arial";
	border : 1px solid #c7c7c7;
}
.Static.sta_main_numbering .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
}
.Static.sta_main_text11C
{
	color : #666666;
	font : 11px "Arial";
}
.Static.sta_main_text11C .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
	white-space : pre-wrap;
	word-wrap : break-word;
	word-break : break-all;
}
.Static.sta_main_text12C
{
	color : #666666;
	font : 12x "Arial";
}
.Static.sta_main_text12C .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
	white-space : pre-wrap;
	word-wrap : break-word;
	word-break : break-all;
}
.Static.sta_main_icon01
{
	background : url("./../../../_resource_/_images_/img_main_icon01.png") no-repeat center center;
	color : #ffffff;
	font : bold 28px "Arial";
}
.Static.sta_main_icon01 .nexacontentsbox
{
	text-align : right;
	background-position-x : right;
	vertical-align : middle;
	background-position-y : center;
}
.Static.sta_main_icon02
{
	background : url("./../../../_resource_/_images_/img_main_icon02.png") no-repeat center center;
	color : #ffffff;
	font : bold 28px "Arial";
}
.Static.sta_main_icon02 .nexacontentsbox
{
	text-align : right;
	background-position-x : right;
	vertical-align : middle;
	background-position-y : center;
}
.Static.sta_main_icon03
{
	background : url("./../../../_resource_/_images_/img_main_icon03.png") no-repeat center center;
	color : #ffffff;
	font : bold 28px "Arial";
}
.Static.sta_main_icon03 .nexacontentsbox
{
	text-align : right;
	background-position-x : right;
	vertical-align : middle;
	background-position-y : center;
}
.Static.sta_main_icon04
{
	background : url("./../../../_resource_/_images_/img_main_icon04.png") no-repeat center center;
	color : #ffffff;
	font : bold 28px "Arial";
}
.Static.sta_main_icon04 .nexacontentsbox
{
	text-align : right;
	background-position-x : right;
	vertical-align : middle;
	background-position-y : center;
}
.Static.sta_main_icon05
{
	background : url("./../../../_resource_/_images_/img_main_icon05.png") no-repeat center center;
	color : #ffffff;
	font : bold 28px "Arial";
}
.Static.sta_main_icon05 .nexacontentsbox
{
	text-align : right;
	background-position-x : right;
	vertical-align : middle;
	background-position-y : center;
}
.Static.sta_main_kosaf
{
	background : url("./../../../_resource_/_images_/img_top_logo.png") no-repeat center center;
	color : #ffffff;
	font : bold 28px "Arial";
}
.Static.sta_main_kosaf .nexacontentsbox
{
	text-align : right;
	background-position-x : right;
	vertical-align : middle;
	background-position-y : center;
}
.Grid.grd_main_table01
{
	border : 1px solid #c7c7c7;
}
.Grid.grd_main_table01 .head .row .cell
{
	background : #666666;
	color : #ffffff;
}
.Grid.grd_main_table01 .head .row .cell > .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
}
.Grid.grd_main_table01 .body .row .cell
{
	background : #ffffff;
}
.Grid.grd_main_table01 .body .row .cell.oddcell
{
	background : #f7f7f7;
}
.Grid.grd_main_table01 .body .row .cell > .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
}
#nexacontainer .Grid.grd_main_table01 .body .row .cell[status=mouseover]
{
	background : #ffffff;
}
#nexacontainer .Grid.grd_main_table01 .body .row .cell.oddcell[status=mouseover]
{
	background : #f7f7f7;
}
#nexacontainer .Grid.grd_main_table01 .body .row .cell[status=mouseover] > .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
}
#nexacontainer .Grid.grd_main_table01 .body .row .cell[userstatus=selected]
{
	background : #ffffff;
}
#nexacontainer .Grid.grd_main_table01 .body .row .cell.oddcell[userstatus=selected]
{
	background : #f7f7f7;
}
#nexacontainer .Grid.grd_main_table01 .body .row .cell[userstatus=selected] > .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
}
